<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/member/modify" method="post">
        <input type="text" id="username" name="username" th:value="${username}">
        <input type="password" id="userpwd" name="userpwd" placeholder="새로운 비밀번호를 입력해주세요">
        <input type="email" id="email" name="email" th:value="${email}">
        <input type="submit" value="회원정보수정"/>
    </form>
</body>
</html>