<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기 수정</title>
</head>
<body>
    <form th:action="@{/writing/modify/{writingId}(writingId=${writing.writingId})}" method="post" enctype="multipart/form-data">
        제목 : <input type="text" name="title" th:value="${writing.title}"><br>
        내용 : <textarea name="content" cols="30" rows="10" th:text="${writing.content}"></textarea>
        업로드하고 싶은 파일 : <input type="file" name="files"/>
        <input type="submit" value="제출하기">
    </form>
</body>
</html>